<div class="container">
    <h1 class="text-center mt-5 mb-5">Selamat Datang di Perusahaan PT APOTEK XYZ</h1>
    <div class="d-flex flex-row justify-content-center">
        <button 
            class="btn btn-primary btn-large mx-2"
            routerLink="/transaction"
        >
            Menuju Menu Transaksi
        </button>
        <button 
            class="btn btn-primary btn-large mx-2"
            routerLink="/product"
        >
            Menuju Menu Master Barang
        </button>
    </div>
</div>