<form class="mb-3" [formGroup]="transactionForm">
    <div class="d-flex flex-row justify-content-between mb-2">
      <div class="d-flex flex-column">
        <div class="input-group flex-nowrap mb-2">
          <span class="input-group-text">No Faktur</span>
          <input
            class="form-control"
            type="text"
            value="no fakur generated"
            formControlName="noInvoice"
          >
        </div>
        <div class="d-flex flex-column">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Tgl Faktur</span>
            <input
              class="form-control"
              type="text"
              value="tanggal"
              formControlName="fakturDate"
            >
          </div>
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="input-group flex-nowrap mb-2">
          <span class="input-group-text">Operator</span>
          <input
            class="form-control"
            type="text"
            value="Test"
            formControlName="operator"
          >
        </div>
      </div>
    </div>
<div>

  </div>
</form>
