<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="productName">Nama Produk</label>
    <input
      type="text"
      class="form-control"
      id="productName"
      aria-describedby="productName"
      placeholder="Masukkan Nama Produk"
      formControlName="productName"
    >
  </div>
  <div class="form-group">
    <label for="productCode">Kode Produk </label>
    <input
      type="text"
      class="form-control"
      id="productCode"
      aria-describedby="productCode"
      placeholder="Masukkan kode Produk"
      formControlName="productCode"
    >
  </div>
  <div class="form-group">
    <label for="productPrice">Harga Produk </label>
    <input
      type="number"
      class="form-control"
      id="productPrice"
      aria-describedby="productPrice"
      placeholder="Masukkan Harga produk"
      formControlName="productPrice"
    >
  </div>
  <div class="form-group">
    <label for="stock">Stok</label>
    <input
      type="number"
      class="form-control"
      id="stock"
      aria-describedby="stock"
      placeholder="Masukkan Stok Produk"
      formControlName="stock"
    >
  </div>
  <button type="submit" class="btn btn-primary mt-3">Add</button>
  <button type="button" (click)="onUpdate()"  [disabled]="!isUpdated" class="btn btn-primary mt-3 mx-1">Update</button>
</form>
<div
  class="alert mt-3"
  [ngClass]="isAdded ? 'alert-primary' : 'alert-danger'"
  role="alert"
  *ngIf="isShow"
>
  {{message}}
</div>